src/META-INF/wsdl/localhost_8080/Proyecto_SOAPserver/Funciones_SOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="Funciones_SOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/Proyecto_SOAPserver/Funciones_SOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="euroDolar">
<part name="parameters" element="tns:euroDolar"/>
</message>
<message name="euroDolarResponse">
<part name="parameters" element="tns:euroDolarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="potencia">
<part name="parameters" element="tns:potencia"/>
</message>
<message name="potenciaResponse">
<part name="parameters" element="tns:potenciaResponse"/>
</message>
<message name="diccionario">
<part name="parameters" element="tns:diccionario"/>
</message>
<message name="diccionarioResponse">
<part name="parameters" element="tns:diccionarioResponse"/>
</message>
<message name="numeroPrimo">
<part name="parameters" element="tns:numeroPrimo"/>
</message>
<message name="numeroPrimoResponse">
<part name="parameters" element="tns:numeroPrimoResponse"/>
</message>
<portType name="Funciones_SOAP">
<operation name="euroDolar">
<input wsam:Action="http://sv/Funciones_SOAP/euroDolarRequest" message="tns:euroDolar"/>
<output wsam:Action="http://sv/Funciones_SOAP/euroDolarResponse" message="tns:euroDolarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sv/Funciones_SOAP/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/Funciones_SOAP/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="potencia">
<input wsam:Action="http://sv/Funciones_SOAP/potenciaRequest" message="tns:potencia"/>
<output wsam:Action="http://sv/Funciones_SOAP/potenciaResponse" message="tns:potenciaResponse"/>
</operation>
<operation name="diccionario">
<input wsam:Action="http://sv/Funciones_SOAP/diccionarioRequest" message="tns:diccionario"/>
<output wsam:Action="http://sv/Funciones_SOAP/diccionarioResponse" message="tns:diccionarioResponse"/>
</operation>
<operation name="numeroPrimo">
<input wsam:Action="http://sv/Funciones_SOAP/numeroPrimoRequest" message="tns:numeroPrimo"/>
<output wsam:Action="http://sv/Funciones_SOAP/numeroPrimoResponse" message="tns:numeroPrimoResponse"/>
</operation>
</portType>
<binding name="Funciones_SOAPPortBinding" type="tns:Funciones_SOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="euroDolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numeroPrimo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Funciones_SOAP">
<port name="Funciones_SOAPPort" binding="tns:Funciones_SOAPPortBinding">
<soap:address location="http://localhost:8080/Proyecto_SOAPserver/Funciones_SOAP"/>
</port>
</service>
</definitions>